<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
  
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
    <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Data Table Display Data</h3>
  
          </div>
          <!-- /.card-header -->
          <div class="card-body">
  
            <div class="page-header">
              <h3> </h3>
            </div>
           
            <table class="table table-bordered" *ngIf="mynotes" datatable [dtOptions]="dtOptions">
                <thead>
                  <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Content</th>
                    <th>Title</th>
                    <th>Language</th>
                    <th>Edit</th>
                    <th>Delete</th>
                   
                  </tr>
                </thead>
                <tbody>
                    
                  <tr *ngFor="let mydata of mynotes">
                    
                    <td>{{ mydata.author_first_name}}</td>
                    <td>{{ mydata.author_last_name }}</td>
                    <td>{{ mydata.content }}</td>
                    <td>{{ mydata.title }}</td>
                    <td>{{ mydata.language }}</td>
                    <td><a [routerLink]="['/edit', mydata.id]" class="btn btn-info">Edit</a></td>
                    <td><a [routerLink]="['/delete', mydata.id]" class="btn btn-danger">Delete</a></td>
                    
    
                  </tr>
                </tbody>
              </table>
  
  
  
  
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
  
          </div>
        </div>
  
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 