<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
  
    </div>
    <!-- /.content-header -->
  
    <!-- Main content -->
   <section class="content" data-select2-id="32">
      <div class="container-fluid" data-select2-id="31">
        <!-- SELECT2 EXAMPLE -->
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Export Data</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          <div class="page-header">
            <h3> </h3>
          </div>
  
  
  
          <button type="submit" class="btn btn-primary" (click)=downloadCSV()> Export CSV</button>
  
  
  
  
          </div>
          <!-- /.card-body -->
          <div class="card-footer">
          </div>
        </div>
  
      </div><!-- /.container-fluid -->
    </section>

    <!-- /.content -->
  </div>